{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 6 Christopher Samuel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <h1>Halo, apa kabar?</h1>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' id='submit'>SUBMIT</button>
    </form>

    <br><br><br>

    <table border="1">
        <tr>
            <th>Status</th>
            <th>Waktu Post</th>
        </tr>
        {% for status in model %}
            <tr>
                <td>{{ status.status }}</td>
                <td>{{ status.waktu }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>